{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block content %}

        <div class="container">
            <h1>About Us</h1>
            <p>This is the About Us page. Here you can find information on each of the team members.</p>
            <h2>Charlie </h2>
            <div class="game-preview">
                <div class="game-image">
                    <img src="{% static 'images/Charlie.jpg' %}" alt="Charlie image">
                </div>
                <div class="game-description">
                    <p> Name: Charlie Lawson</p>
                    <p> Age: 19</p>
                    <p> Email: 2767794L@student.gla.ac.uk</p>
                    <p> Degree: Electronic and Software Engineering</p>
                    <p> About me: I'm from Aberdeen but have lived in Glasgow for the past 9 years. In my spare time I enjoy playing snooker and socialising with my friends.
                    </p>
                    <p> Job: Creating the front end of the website and building the webpage templates.</p>
                </div>
            </div>
    
            <h2>Jiayu</h2>
            <div class="game-preview">
                <div class="game-image">
                    <img src="{% static 'images/Jiayu.jpg' %}" alt="Jiayu image">
                </div>
                <div class="game-description">
                    <p> Name: Jiayu Li</p>
                    <p> Age: 19</p>
                    <p> Email: 2721346L@student.gla.ac.uk</p>
                    <p> Degree: Software Engineering</p>
                    <p> About me: TBC </p>
                    <p> Job: Creating the Homepage and Javascript.</p>
                </div>
            </div>
    
            <h2>Josh</h2>
            <div class="game-preview">
                <div class="game-image">
                    <img src="{% static 'images/Josh.jpg' %}" alt="Josh image">
                </div>
                <div class="game-description">
                    <p> Name: Josh Yip</p>
                    <p> Age: 19</p>
                    <p> Email: 2759826Y@student.gla.ac.uk</p>
                    <p> Degree: Electronic and Software Engineering</p>
                    <p> About me: I'm from Glasgow and have lived there my whole life, 
                        I like being in the pub and playing pool with my friends</p>
                    <p> Job: Creating the functionality of the login and register features.</p>
                    
                </div>
            </div>
    
            <h2>Krish</h2>
            <div class="game-preview">
                <div class="game-image">
                    <img src="{% static 'images/Krish.jpg' %}" alt="Star Wars image">
                </div>
                <div class="game-description">
                    <p> Name: Krish Dokania</p>
                    <p> Age: 19</p>
                    <p> Email: 2767195D@student.gla.ac.uk</p>
                    <p> Degree: Electronic and Software Engineering</p>
                    <p> About me:I'm from India, doing ESE 2nd year and part time robotics cause thats fun!</p>
                    <p> Job: Creating the functionality of the admin and reviewing features.</p>
                </div>
            </div>
    
            <h2>Ryan</h2>
            <div class="game-preview">
                <div class="game-image">
                    <img src="{% static 'images/Ryan.jpg' %}" alt="Ryan image">
                </div>
                <div class="game-description">
                    <p> Name: Ryan O'Byrne</p>
                    <p> Age: 21</p>
                    <p> Email: 2796738O@student.gla.ac.uk</p>
                    <p> Degree: Software Engineering</p>
                    <p> About me: Hello, I am born and raised in Glasgow, and I am currently in my 2nd year of Software Engineering. I enjoy watching literally any sport and can talk to you about it for hours</p>
                    <p> Job: Creating the functionality of the search features and underlying databases.</p>
                </div>
            </div>
        </div>
{% endblock %}
