<!DOCTYPE html>

<!-- THIS IS A COPY OF LOGIN PAGE WITH JUST A COUPLE CHANGES -->




<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="nav-box home-link">
                <a href="/">GameDB</a>
            </div>
            <div class="search-bar">
                <!-- NEED TO ADD A SEARCH VIEW HERE , THE SEARCH BAR CURRENTLY DOES NOT DO ANYTHING -->
                    <input type="text" name="query" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="nav-box account-link">
                <a href="/account/">My Account</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="register-container"> 
            <!-- WHY THIS DONT WORK? - J ^^^ -->
            <form action="/register/" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="User" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                <input type="submit" value="Register Account">
                <button type="button" onclick="location.href='/GameDB/home/'">Back Home</button>
            </form>
        </div>
    </main>
    <footer>
        <a href="{% url 'GameDB:about_us' %}">About</a>
    </footer>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>