<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="nav-box home-link">
                <a href="/">GameDB</a>
            </div>
            <div class="search-bar">
                <!-- NEED TO ADD A SEARCH VIEW HERE , THE SEARCH BAR CURRENTLY DOES NOT DO ANYTHING -->
                    <input type="text" name="query" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="nav-box login-link">
                <a href="/login/">Login</a>
            </div>
            <div class="nav-box account-link">
                <a href="/account/">My Account</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>About Us</h1>
        <p>This is the About Us page. Here you can find information about our company.</p>
    </main>
</body>
</html>
