<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <header class="header">
    <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand text-white">GameDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <form class="d-flex m-auto">
                        <input class="form-control me-2" type="text" placeholder="Search" id="search_input">
                        <button class="btn btn-primary" type="button" id="search_button">Search</button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="register/">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="text-center my-4">About Us</h1>
            <p class="lead text-center">This is the About Us page. Here you can find information on each of the team members.</p>
            <div class="row">
                <!-- Team Member 1 -->
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Charlie.jpg' %}" alt="Charlie image">
                        <div class="card-body">
                            <h5 class="card-title">Charlie Lawson</h5>
                            <p class="card-text">
                                Age: 19<br>
                                Email: 2767794L@student.gla.ac.uk<br>
                                Degree: Electronic and Software Engineering<br>
                                About me: I'm from Aberdeen but have lived in Glasgow for the past 9 years. In my spare time I enjoy playing snooker and socialising with my friends.<br>
                                Job: Creating the front end of the website and building the webpage templates.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Jiayu.jpg' %}" alt="Jiayu image">
                        <div class="card-body">
                            <h5 class="card-title">Jiayu Li</h5>
                            <p class="card-text">
                                Age: 19<br>
                                Email: 2721346L@student.gla.ac.uk<br>
                                Degree: Software Engineering<br>
                                About me: TBC<br>
                                Job: Creating the Homepage and Javascript.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 3 -->
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Josh.jpg' %}" alt="Josh image">
                        <div class="card-body">
                            <h5 class="card-title">Josh Yip</h5>
                            <p class="card-text">
                                Age: 19<br>
                                Email: 2759826Y@student.gla.ac.uk<br>
                                Degree: Electronic and Software Engineering<br>
                                About me: TBC<br>
                                Job: Creating the functionality of the login and register features.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Krish.jpg' %}" alt="Krish image">
                        <div class="card-body">
                            <h5 class="card-title">Krish Dokania</h5>
                            <p class="card-text">
                                Age: 19<br>
                                Email: 2767195D@student.gla.ac.uk<br>
                                Degree: Electronic and Software Engineering<br>
                                About me: Hey! I am from India, currently doing 2nd year ESE and part-time robotics engineer.<br>
                                Job: Creating the functionality of the admin and reviewing features.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Team Member 5 -->
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/blank.jpg' %}" alt="Ryan image">
                        <div class="card-body">
                            <h5 class="card-title">Ryan O'Byrne</h5>
                            <p class="card-text">
                                Age: 21<br>
                                Email: 2796738O@student.gla.ac.uk<br>
                                Degree: Computing Science<br>
                                About me: TBC<br>
                                Job: Creating the functionality of the search features.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
