<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="nav-box home-link">
                <a href="/">GameDB</a>
            </div>
            <div class="search-bar">
                <!-- NEED TO ADD A SEARCH VIEW HERE , THE SEARCH BAR CURRENTLY DOES NOT DO ANYTHING -->
                    <input type="text" name="query" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="nav-box login-link">
                <a href="/login/">Login</a>
            </div>
            <div class="nav-box account-link">
                <a href="/account/">My Account</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>About Us</h1>
        <p>This is the About Us page. Here you can find information on each of the team members.</p>
        <h2>Charlie </h2>
        <div class="game-preview">
            <div class="game-image">
                <img src="{% static 'images/Charlie.jpg' %}" alt="Charlie image">
            </div>
            <div class="game-description">
                <p> Name: Charlie Lawson</p>
                <p> Age: 19</p>
                <p> Email: 2767794L@student.gla.ac.uk</p>
                <p> Degree: Electronic and Software Engineering</p>
                <p> About me: I'm from Aberdeen but have lived in Glasgow for the past 9 years. In my spare time I enjoy playing snooker and socialising with my friends.
                </p>
                <p> Job: Creating the front end of the website and building the webpage templates.</p>
            </div>
        </div>

        <h2>Jiayu</h2>
        <div class="game-preview">
            <div class="game-image">
                <img src="{% static 'images/Jiayu.jpg' %}" alt="Jiayu image">
            </div>
            <div class="game-description">
                <p> Name: Jiayu Li</p>
                <p> Age: 19</p>
                <p> Email: 2721346L@student.gla.ac.uk</p>
                <p> Degree: Software Engineering</p>
                <p> About me: TBC </p>
                <p> Job: Creating the Homepage and Javascript.</p>
            </div>
        </div>

        <h2>Josh</h2>
        <div class="game-preview">
            <div class="game-image">
                <img src="{% static 'images/Josh.jpg' %}" alt="Josh image">
            </div>
            <div class="game-description">
                <p> Name: Josh Yip</p>
                <p> Age: 19</p>
                <p> Email: 2759826Y@student.gla.ac.uk</p>
                <p> Degree: Electronic and Software Engineering</p>
                <p> About me: TBC </p>
                <p> Job: Creating the functionality of the login and register features.</p>
                
            </div>
        </div>

        <h2>Krish</h2>
        <div class="game-preview">
            <div class="game-image">
                <img src="{% static 'images/blank.jpg' %}" alt="Star Wars image">
            </div>
            <div class="game-description">
                <p> Name: Krish Dokania</p>
                <p> Age: 19</p>
                <p> Email: 2767195D@student.gla.ac.uk</p>
                <p> Degree: Electronic and Software Engineering</p>
                <p> About me: TBC </p>
                <p> Job: Creating the functionality of the admin and reviewing features.</p>
            </div>
        </div>

        <h2>Ryan</h2>
        <div class="game-preview">
            <div class="game-image">
                <img src="{% static 'images/blank.jpg' %}" alt="Star Wars image">
            </div>
            <div class="game-description">
                <p> Name: Ryan O'Byrne</p>
                <p> Age: 21</p>
                <p> Email: 2796738O@student.gla.ac.uk</p>
                <p> Degree: Computing Science</p>
                <p> About me: TBC </p>
                <p> Job: Creating the functionality of the search features.</p>
            </div>
        </div>
    </main>
</body>
</html>
