<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand text-white">GameDB</a>
                <a href="/about-us/" class="navbar-brand text-white">About Us</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <form class="d-flex m-auto">
                        <input class="form-control me-2" type="text" placeholder="Search" id="search_input">
                        <button class="btn btn-primary" type="button" id="search_button">Search</button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link text-white" href="account/">My Account {{ username }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-white" href="login/">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="register/">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
<div class="container">
        <h1>Popular Categories</h1>
        <p>Browse the most popular video game categories.</p>
    
    
    <!-- FPS -->
    <div class="row mt-5">
        <div class="col-md-3">
            <a href="" class="text-white btn btn-dark btn-lg">FPS</a>
        </div>
        
    </div>

    {% if user.is_superuser %}
        <div class="container mt-5">
            <h2>Add Category</h2>
            <form method="post" action="{% url 'add_category' %}">
                {% csrf_token %}
                {{ category_form.as_p }}
                {{ add_category_form.as_p }}
                <button type="submit" class="btn btn-primary">Add Category</button>
            </form>
        </div>

        <div class="container mt-5">
            <h2>Add Game</h2>
            <form method="post" action="{% url 'add_game' %}">
                {% csrf_token %}
                {{ game_form.as_p }}
                {{ add_game_form.as_p }}
                <button type="submit" class="btn btn-primary">Add Game</button>
            </form>
        </div>
   {% endif %}


    <!-- THERE TITLES OF EACH GAME ARE NOT LINKS AT THE MOMENT, ONCE RYAN GETS THE SEARCH DONE WE CAN MAKE THESE TITLES INTO LINKS SO 
         WHEN YOU CLICK ON A GAME IT DISPLAYS THE GAMES INFO-->

    <div class="row mt-3">
        
        <div class="col-md-4" id="pc1">
            
            <img src="{% static 'images/COD.jpg' %}" alt="Picture 1" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">Call Of Duty Modern Warfare 3</h1>
                          
        </div>

        <div class="col-md-4">
            <img src="{% static 'images/BF2024.jpg' %}" alt="Picture 2" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">Battefield 2042</h1>
            
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/halo.jpg' %}" alt="Picture 3" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">Halo Infinite</h1>
            
        </div>
        
    </div>

    <!-- RPG -->
    <div class="row mt-5">
        <div class="col-md-3">
            <a href="" class="text-white btn btn-dark btn-lg">RPG</a>
        </div>
        
    </div>

    <div class="row mt-3">
        
        <div class="col-md-4">
            <img src="{% static 'images/gta5v2.jpg' %}" alt="Picture 1" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">GTA 5</h1>
                          
        </div>

        <div class="col-md-4">
            <img src="{% static 'images/rd2.jpg' %}" alt="Picture 2" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">Red Dead Redemption 2</h1>
            
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/assassinscreed.jpg' %}" alt="Picture 3" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">Assassin's Creed Odyssey</h1>
            
        </div>
        
    </div>

    <!-- Sport -->
    <div class="row mt-5">
        <div class="col-md-3">
            <a href="" class="text-white btn btn-dark btn-lg">Sport</a>
        </div>
        
    </div>

    <div class="row mt-3">
        
        <div class="col-md-4">
            <img src="{% static 'images/EA.jpg' %}" alt="Picture 1" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">EA FC 24</h1>
                          
        </div>

        <div class="col-md-4">
            <img src="{% static 'images/nba.jpg' %}" alt="Picture 2" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">NBA 2K24</h1>
            
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/f123.jpg' %}" alt="Picture 3" class="d-block w-100" style="height: 235px; object-fit: contain; width: 100%;">
            <h1 class="display-6 text-center">F1 23</h1>
            
        </div>
        
    </div>
    
</div>
</main> 

<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/home.js' %}?{% now 'U' %}"></script>
</body>
</html>
