{% extends 'base.html' %}
{% load static %}

{% block title %}Chosen Game{% endblock title %}

{% block content %}
<div class="container  mt-5">
    <div class="row mx-auto" style="height: 500px;">
        <div class="col-md-9">
            <video controls autoplay loop muted class="d-block w-100" style="height: 500px;">
                <source src="{% static 'videos/' %}{{ game.videoName }}">
            </video>
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/' %}{{ game.pictureName }}" alt="Picture 1" class="d-block w-100" style="height: 500px;">
        </div>
    </div>
        
    <div class="row mt-4">
        <div class="col-md-8 mx-auto bg-dark text-white">
            {% for p in game.description %}
                <p>{{ p }}</p>
            {% endfor %}
            
        </div>
        
    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-secondary " id="add-review-btn">Add Review</button>
        </div>
    </div>
    <div class="row mt-4" id="alert-div-located"></div>

</div>

<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/chosen_game.js' %}?{% now 'U' %}"></script>

{% endblock %}